@import "tailwindcss";
/* src/index.css */

body{
  background-color: #111827;
}

#sitelogo{
  font-family: "Poppins";
}

#dropdown{
  font-family: "Poppins";
}

#movietitle{
  font-family: "Nunito";
}

#recommendedtitle{
  font-family: "exo";
}

#rcbutton{
  font-family: "Poppins";
}

#rcmovietitle{
  font-family: "Nunito";
}